<script src="https://cdn.websitepolicies.io/lib/cookieconsent/1.0.3/cookieconsent.min.js" defer></script>
<script>
window.addEventListener("load", function(){
	window.wpcc.init({
		"corners":"small",
		"colors":{
			"popup":{
				"background":"#ffffff",
				"text":"#545454",
				"border":"#5e5e5e"
			},
			"button":{
				"background":"#1297d1",
				"text":"#ffffff"
			}
		},
		"position":"bottom",
		"border":"thin",
		"content":{
			"href":"https://www.cookiesandyou.com/",
			"message":"This website uses analytics cookies to ensure you get the best experience on our website."
		}
	})
});
</script>
