.contactList {
	list-style: none;
	height: auto;
	background: inherit;
	border: none;
	width: auto;
}

.contactList li {
	float: none;
	width: auto;
	border-right: none;
	height: auto;
}

.contactList li a {
	display: inline;
}

.contactList li i {
	margin-right: 10px;
	width: 14px;
}

#backToTopBtn {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 20px; /* Place the button at the bottom of the page */
  right: 30px; /* Place the button 30px from the right */
  z-index: 99; /* Make sure it does not overlap */
  border: none; /* Remove borders */
  outline: none; /* Remove outline */
  background-color: #393939; /* Set a background color */
  color: white; /* Text color */
  cursor: pointer; /* Add a mouse pointer on hover */
  padding: 15px; /* Some padding */
  border-radius: 10px; /* Rounded corners */
  font-size: 18px; /* Increase font size */
}

#backToTopBtn:hover {
  background-color: #555; /* Add a dark-grey background on hover */
}