<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		{% seo %}

		{% if page.layout == 'publication' %}
		<meta name="citation_title" content="{{ page.title }}">
		{% assign authors = page.authors | split: ", " %}
		{% for a in authors %}
		<meta name="citation_author" content="{{ a }}">
		{% endfor %}
		<meta name="citation_publication_date" content="{{ page.when | date: '%Y/%m/%d' }}">
		<meta name="citation_journal_title" content="{{ page.venue }}">
		<meta name="citation_pdf_url" content="{{ site.baseurl }}/papers/{{ page.manuscript }}">
		{% endif %}

		<link rel="stylesheet" href="{{ "/assets/css/style.css?v=" | append: site.github.build_revision | relative_url }}">

		<!--[if lt IE 9]>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script>
		<![endif]-->

		<link rel="icon" type="image/jpg" href="{{ site.baseurl }}/icon.png">
		<!-- Icons created by FACH - Flaticon https://www.flaticon.com/free-icons/computer-education -->

		<link rel="stylesheet" href="{{ site.baseurl }}/css/academicons.min.css"/>
		<link rel="stylesheet" href="{{ site.baseurl }}/css/fontawesome.min.css">

		<title>{{ site.title }}</title>
	</head>
	<body>
		{% include simple-menu.html %}
		<div class="wrapper">
			<header>
				<div id="contactPhotoWrapper">
					<img src="{{site.logo | relative_url}}" alt="Logo" id="contactPhoto"/>
				</div>

				<div class="header-content">
					<h1>{{ site.title }}</h1>

					<div class="location">
						<a href="https://www.unive.it/">Ca' Foscari</a> | <a href="https://unive-ssv.github.io/">SSV</a>
					</div>

					<div class="links">
						<a href="mailto:{{ site.mail-work }}"><i class="fas fa-envelope big-icon"></i></a>
						<a href="{{ site.linkedin }}"><i class="fab fa-linkedin big-icon"></i></a>
						<a href="{{ site.github }}"><i class="fab fa-github big-icon"></i></a>
						<a href="{{ site.twitter-handle }}"><i class="fab fa-twitter big-icon"></i></a>
						<a href="{{ site.orcid }}"><i class="ai ai-orcid big-icon"></i></a>
						<a href="{{ site.scopus }}"><i class="ai ai-scopus big-icon"></i></a>
						<a href="{{ site.dblp }}"><i class="ai ai-dblp big-icon"></i></a>
						<a href="{{ site.scholar }}"><i class="ai ai-google-scholar big-icon"></i></a>
						<a href="{{ site.research-gate }}"><i class="ai ai-researchgate big-icon"></i></a>
						<a href="{{ site.baseurl }}/cv.pdf"><i class="ai ai-cv big-icon"></i></a>
					</div>

					{% include search-lunr.html %}
				</div>
			</header>

			<section>
				{{ content }}
			</section>
		</div>
		<script src="{{ "/assets/js/scale.fix.js" | relative_url }}"></script>
		{% include topics.html %}
		{% include cookies.html %}
		{% include analytics.html %}
		{% include new-window-fix.html %}
	</body>
</html>
